--- 
layout: default 
--- 

<ul class = "text-left">
	<a href = "{{site.baseurl}}/"><h1>{{site.title}}</h1></a>
	<!-- Loop output paged posts -->
   {% for post in site.posts %}
	   <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	   <span class="date">{{ post.date | date_to_string }}</span>
	   <p>{% if post.excerpt.size > 32 %}{{ post.excerpt }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 160 }}{% endif %}</p>
	   <p> <a href="{{ site.baseurl }}{{ post.url }}"><span >Read More &raquo; </span></a></p>
   {% endfor %}
</ul>