--- 
layout: default 
---

<div class = "content">
<div class="category">
<h2><b class="category-7-2">Navigation</b></h2>
<ul>
<li><a class="letters extra-link" href="{{site.baseurl}}/blog/index.html" target="_blank">Blog</a></li>
<li><a class="footer-code-link" href="{{site.github.homepage}}/{{site.github.gh-pages}}">GitHub</a></li>

<li><a class="letters extra-link" href="http://www.webofknowledge.com/"|"www.isiknowledge.com">SCI/SSCI - Web of Science</a></li> 
<li><a class="letters extra-link" href="http://publish.aps.org/">APS - American Physical Society</a></li>
<li><a class="letters extra-link" href="http://journals.aps.org/pra/">PRA - Physical Review A </a></li>
<li><a class="letters extra-link" href="http://journals.aps.org/prl/"> PRL - Physical Review Letter</a></li>
<li><a class="letters extra-link" href="https://arxiv.org/list/quant-ph/new"|"http://xxx.lanl.gov/list/quant-ph/new">arXiv - Cornell University Library</a></li>
<li><a class="letters extra-link" href="http://www.sciencedirect.com/">ScienceDirect</a></li> 
<li><a class="letters extra-link" href="http://www.nature.com/nphys/l">Nature Physics</a></li>
<li><a class="letters extra-link" href="http://www.sciencemag.org/">Science</a></li> 
</ul> 
</div>
</div>